html {
	font-family: Helvetica;
}

h1 {
	background-image: url("../img/pattern.jpg");
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}

a {
	font-weight: bold;
	color: blue;
}

.bg {
	background-color: mediumspringgreen;
}

.bg2 {
	background-color: lightcoral;
}

.bg3 {
	background-color: skyblue;
}